autopep8==1.4.4
bleach==3.1.0
bumpversion==0.5.3
certifi==2019.9.11
chardet==3.0.4
Django==2.2.7
docutils==0.15.2
entrypoints==0.3
flake8==3.7.9
idna==2.8
keyring==19.2.0
mccabe==0.6.1
pkginfo==1.5.0.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pytz==2019.3
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.13.0
sqlparse==0.3.0
tqdm==4.40.1
twine==3.0.0
urllib3==1.25.7
webencodings==0.5.1
