autopep8==1.5
bleach==3.1.1
bumpversion==0.5.3
certifi==2019.11.28
chardet==3.0.4
Django==3.0.3
docutils==0.16
entrypoints==0.3
flake8==3.7.9
idna==2.9
keyring==21.1.0
mccabe==0.6.1
pkginfo==1.5.0.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.5.2
pytz==2019.3
readme-renderer==26.0
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
sqlparse==0.3.0
tqdm==4.43.0
twine==3.1.1
urllib3==1.25.8
webencodings==0.5.1
